/* resetando alguns estilos iniciais */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
h1, p {
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}
/* ************************************** */

.header-bg {
  background: #000000;
}
.header {
  /* Marca de um lado menu para outro */
  display: flex;
  /* para quebrar para baixo */
  flex-wrap: wrap;
  gap: 20px;
  /* cada um na ponta */
  justify-content: space-between;
  /* alinha ao centro na vertical */
  align-items: center;
  padding: 20px;
  /* container */
  max-width: 1200px;
  /* alinha ao centro */
  margin: auto;
}

/* Falando com a ul */
.header-menu {
  display: flex;
  /* também vai quebrar para não estourar container */
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  /* criando uma area maior de contato */
  padding: 16px 0;
  /*  */
  display: inline-block;
  color: #ffffff;
  font-size: 1.125rem;
  /* position relativa referente ao absolute */
  position: relative;
}
/* Criando elemento after */
.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: #fff;
  margin-top: 4px;
  /* retirando o after do fluxo */
  position: absolute;
}
.header-menu a:hover:after {
  width: 100%;
  transition: 0.3s;
}


/* Responsivo */
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: #3e3e3e;
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 0.875rem;
  }
}

/* Introdução */
.introducao-bg {
  background: #000000;
  color: #ffffff;
  /* inset sombra interna */
  box-shadow: inset 0 -120px white;
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
  max-width: 1200px;
  padding: 0px 20px;
  margin: auto;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao img {
  /* imagem cresce 100% */
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}
.introducao h1 {
  margin-bottom: 32px;
  font-size: 64px;
  line-height: 1.125;
}
.introducao h1 span {
  color: #ffbb00;
}
.introducao p {
 margin-bottom: 20px; 
 font-size: 24px;
 line-height: 1.5;
 color: #b2b2b2;
}
.introducao a {
  padding: 16px 32px;
  background: linear-gradient(#ffbf00, #f2a50c);
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 1.125rem;
  line-height: 1.33;
  font-weight: bold;
}
.introducao a:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
  .introducao a {
    padding: 12px 16px;
    font-size: 16px;
  }
}

/* Responsivo Introdução */
@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .introducao img {
    /* valor fixo */
    height: 300px;
    width: 100%;
  }
}

